h1 {
	text-align: center;
	color: #000;
	font-size: calc(14px + 5vmin);
}

h4 {
	text-align: center;
	font-size: calc(12px + 1.5vmin);
}

h5 {
	color: #ffd0d0;
	text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #ccaa44;
    border-color: #ccaa44;
	--box-shadow-color: transparent;
	-webkit-box-shadow: 0px 0px 0px 3px var(--box-shadow-color) !important;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary[focus],
.btn-primary[hover] {
    color: #fff;
    background-color: #cc9922;
    border-color: #cc9922;
	--box-shadow-color: rgba(204, 153, 34, 0.5);
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary[active],
.btn-primary[active][focus] {
    color: #fff;
	background-image: none;
    background-color: #bb8822 !important;
    border-color: #bb8822 !important;
}

.btn-primary:disabled,
.btn-primary[disabled] {
    color: #fff;
    background-color: #886622;
    border-color:  #886622;
}

.btn-outline-secondary {
	border-width: 0
}

.Error {
	color: #802020
}

.Chat {
	font-size: medium;
	flex: 1 2;
}

.ChatMessageArea {	
	background-color: #503030;
	flex: 1 2;
	overflow-y: auto;
	padding: 0.4em
}

.ChatMessages {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.PlayersList {
	flex: 0 1;
}

.PlayersAreaBorder {
	padding: 0.2em;
}

.PlayersArea {
	display: flex;
	flex-direction: column;
	flex-wrap: none;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 0;
}

.App {
  background-color: #100000;
  min-height: 100vh;
  font-size: calc(10px + 1.5vmin);
  color: #ffd0d0;
  margin: 0;
  text-align: left;
}

.Button {
	margin: 0.2em;
}

.GameAreaBorder {
	padding: 0.2em;
}

.GameArea {
	background-color: #503030;
	color: #ffd0d0;
}

.PlayArea {
	background-color: #604040;
}

.GameSetup {
	font-size: 0.8em;
}

.DiceRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
  
.Die img {
	margin: 0.1em 0.2em 0.1em 0.2em;
	height: calc(8px + 8vmin);
	width: calc(8px + 8vmin)
}

.AbductionZone {
	background-color: #503030;
	padding: 0.5em;
}

.BattleZone {
	background-color: #604040;
	padding: 0.5em;
}

.GameZoneTopRow {
	background-color: #503030;
	padding: 0.5em;
}

.GameHeader {
	background-color: #604040;
}

.Winner {
	color: #ccaa44;
	font-weight: bold;
}
.ScoreBar {
	background-color: #ffd0d0;
}
.ScoreBar-Winner {
	background-color: #ccaa44;
}

.TableHeader {
	background-color: #604040;
	color: #ffd0d0;
	margin: 0;
	padding: 0.2em
}

.TableBody {
	background-color: #503030;
	color: #ffd0d0;
	padding: 0.4em
}

.FormRow {
	padding: 0.5em 0
}