.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #d0d0d0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.GameArea {
	background-color: #d0d0d0;	
}

.Player {
	display: flex;
	justify-content: space-between;
}

.PlayerScore {
	margin: 0em 0em 0em 1em;
}

.GameSetup {
	font-size: 0.8em;
}

.Row {
	display: flex;
	justify-content: space-between;
}

.Name {
	margin: 0em 1em 0em 0em;
}

.DiceRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
  
.Die img {
	margin: 0.1em 0.2em;
}

.AbductionZone {
	background-color: #446666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
