.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
	text-align: center;
	color: #ffd0d0;
}

h4 {
	text-align: center;
}

.AppX {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: center;  
}

.App {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  text-align: left;
}

.Button {
	margin: 0.2em;
}

.GameArea {
	background-color: yellow;
	margin: 0;
	padding: 0;
	color: #ffd0d0;
}

.GameSetup {
	font-size: 0.8em;
}

.DiceRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
  
.Die img {
	margin: 0.1em 0em 0.1em 0.4em;
}

.AbductionZone {
	background-color: #503030;
	padding: 0.5em;
}

.BattleZone {
	background-color: #604040;
	padding: 0.5em;
}

.GameZoneTopRow {
	background-color: #503030;
	padding: 0.5em;
}

.DiceThrowXXX {
	background-color: #503030;
	padding: 0.5em;
}

.GameHeader {
	background-color: #604040;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
